# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ks
!srp.pac
!.gitignore
!README.md

# Images
!Item.png
!Options.png
!Profile.png
!Quit Game.png
!Save.png
!\[syoukai]2.png
!\[syoukai]3.png
!\[syoukai]4.png
!\[syoukai]5.png
!\[syoukai]6.png
!\[syoukai]7.png
!\[syoukai]8.png
!\[syoukai]9.png
!\[syoukai]10.png
!Tutorial_1.png
!Tutorial_2.png
!Tutorial_3.png
!Tutorial_4.png
!Tutorial_5.png
!Tutorial_6.png
!yakyu_UI1.png
!yakyu_UI2.png
!yakyu_UI3.png
!Command_0.png
!Command_1.png
!Command_2.png
!Command_3.png
!CardFile_91.png
!\[prof]bg.png
!\[prof2]_bg2.png
!normal_6.png
